body{
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}

.navigation-top li{
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.slide-title{
  font-size: 36px;
  line-height: 36px;
}

.orders-column-title{
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.orders-column-explanation{
  font-size: 15px;
  color: #283136;
}

.btn{
  font-family: Roboto,Arial sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.red{
  background: #fb565a;
}

.main-title{
  font-size: 36px;
  line-height: 36px;
}

.studio-column p{
  text-transform: uppercase;
}

.contacts-title{
  line-height: 30px;
  text-transform: uppercase;
}

.footer-contacts p{
  line-height: 20px;
}

.friends-title{
  font-size: 36px;
  line-height: 36px;
}

.friends p{
  line-height: 12px;
}